/*style for navigation bar*/
h1{
    color:red;
    border:2px solid black;
    width: fit-content;
    border-radius: 50px;
    padding: 8px;
    background-color: aliceblue;
    white-space: nowrap;

}
.web_name{
    margin-left: 0.7%;
}

.nav_section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border:2px solid black;
    height: 8%;
    justify-content: space-between;
    align-items: center;
    background-image:url('../images/homebg.png');
}

.nav_button_section{
    align-items: center;
    display: flex;
    border: 5px solid rgb(226, 4, 115);
    border-radius: 20px;
    flex-flow: row nowrap;
    width: 40%;
    justify-content: space-evenly;
    height: 70%;
    margin-left: 3%;
}

.nav_button_section>div{
    font-size: 2em;
    color: aliceblue;

}
#home_button a{
    text-decoration: none;
    color: aliceblue;
}
#home_button a:hover{
    font-size: 1.3em;
}
.search{
    margin-top: 0.6%;
    width: 30%;
    margin-left: 3%;
}
.search_bar{
    width: 70%;
    height: 40%;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 5px solid rgb(226, 4, 115);
}
input[type=text], select {
    color: aliceblue;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    outline-width: 0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1.2em;
  }

.login_pic,.post_pic,.manage_pic{
    width: 40px;
}
.login,.post,.manage_dropdown{
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    padding: 2PX;
    display: flex;
    justify-content: center;
}

.nav_icons{
    display: flex;
    flex-direction: row;
}

.manage_dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-right: 30px;
}
.dropdown_content a{
    color: black;
    padding: 12px 16px;
    display: block;
    font-size: 20px;

}
.dropdown_content a:hover {background-color: #ddd;}

.manage_dropdown:hover .dropdown_content {display: block;}

 .manage_dropdown:hover, .login:hover {
    background-color: white;
    position: relative;
    
}
.manage_dropdown:hover div, .login:hover div {
    color: black;
}


.login_status,.post_name,.manage_name{
    color: white;
    font-size: 20px;
    white-space:nowrap;
    overflow:hidden;
    
}
.search_button{
    border: none;
    padding: 9px;
    background-color: rgb(92, 110, 150);
    border-radius: 14px;
    font-weight: bold;
    color: white;
}
.search_button:hover{
    background-color: #ddd;
    color: black;
}
